.device {
  display: block;
  flex-direction: column;
  width: 80%;
  background-color: lighten(lime, 50%);
  margin: 0.5rem auto;
  box-shadow: 0 0 1rem lighten(black, 80%);
  &:hover {
    box-shadow: 0 0 1rem lighten(black, 85%);
  }
  .info {
    padding: 0.5rem;
    cursor: pointer;
    .invisible {
      display: none;
    }
    th {
      width: 7rem;
    }
  }
}

.hidden {
  display: none;
}

@media ( max-width: 60rem ) {
  .device {
    font-size: 0.50rem;
  }
} 