$fa-font-path: '../../../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.packet {
  display: flex;
  border-top: 1px solid lighten(black, 90%);
  position: relative;
  padding: 0.5rem;
  z-index: 10;
  .desktop {
    flex-direction: row;
    width: 100%;
    table{ 
      width: 100%;
    }
  }
  .mobile {
    width: 100%;
    flex-direction: column;
  }
}

.hidden {
  display: none;
}
.allow {
  background-color: lighten(green, 70%);
}

.block {
  background-color: lighten(red, 40%);
}
table {
  text-align: left;
  width: 100%;
}

.norule {
  display: none;
}

.buttons {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  div {
    margin: 0.5rem;
    cursor: pointer;
  }
}

@media (max-width: 45rem) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .buttons {
    flex-direction: row;
  }
}

@media (min-width: 45rem) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .buttons {
    flex-direction: column;
  }
}