$fa-font-path: '../../../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.packet {
  display: flex;
  border-top: 1px solid lighten(black, 90%);
  position: relative;
  padding: 0.5rem;
  z-index: 10;
}

.hidden {
  display: none;
}
.allow {
  background-color: lighten(green, 70%);
}

.block {
  background-color: lighten(red, 40%);
}
table {
  text-align: left;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-around;
  div {
    margin: 0.5rem;
    cursor: pointer;
  }
}